<a href="https://colab.research.google.com/github/hhk54250/portfolio-management/blob/master/for%20fun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.linalg import *
import os
from sklearn.linear_model import LinearRegression
from numpy import linalg

In [2]:
%cd~

!git clone https://github.com/hhk54250/portfolio-management.git 
pass

/root
fatal: destination path 'portfolio-management' already exists and is not an empty directory.

In [3]:
%cd portfolio-management
%ls

/root/portfolio-management
 10-year.csv
 10-year-treasury-bond-rate-yield-chart.csv
 1-year.csv
 1-year-treasury-rate-yield-chart.csv
 2.ipynb
 30-year.csv
 30-year-treasury-bond-rate-yield-chart.csv
 5-year.csv
 5-year-treasury-bond-rate-yield-chart.csv
 BABA.csv
 check2.ipynb
 check3.ipynb
 CHECK6.ipynb
 check.ipynb
'exchange rate.csv'
 factor2.ipynb
 factor3.ipynb
 factor4.ipynb
 factor5.ipynb
 factor.ipynb
 F-F_Research_Data_5_Factors_2x3_daily.csv
 IVV.csv
 JD.csv
'Libor rate.csv'
'MA575_PJ_1 (1).ipynb'
'markowitz portfolio optimization.ipynb'
 Model.ipynb
'prj01(1).ipynb'
'prj01(3).ipynb'
 prj01.ipynb
 README.md
'Returns(1).py'
 Returns.py
 Untitled17.ipynb
 基金数据.csv

In [4]:
d = pd.read_csv("基金数据.csv")

In [5]:
d

      Unnamed: 0   110029   161820  ...  399374.SZ  399377.SZ  399376.SZ
0             日期      基金A      基金B  ...       中盘成长       小盘价值       小盘成长
1     2014/12/31  2.7931   1.1691   ...  3935.5700  5590.8140  4999.7040
2       2015/1/5  2.7876   1.1702   ...  4035.0940  5747.9600  5039.9490
3       2015/1/6  2.8898   1.1702   ...  4102.3030  5740.8340  5119.2600
4       2015/1/7  2.8918   1.1712   ...  4091.2700  5747.4840  5111.8220
...          ...      ...      ...  ...        ...        ...        ...
1216  2019/12/25  3.9844   1.5263   ...  4037.5218  5287.2511  4639.6652
1217  2019/12/26  4.0006   1.5277   ...  4080.2436  5331.5220  4675.1207
1218  2019/12/27  3.9527   1.5277   ...  4061.9914  5313.8020  4637.7672
1219  2019/12/30  3.9936   1.5277   ...  4110.7194  5387.6762  4676.1402
1220  2019/12/31  4.0187   1.5291   ...  4142.3961  5419.2700  4694.3621

[1221 rows x 10 columns]

In [6]:
d1 = d['110029']

In [7]:
d11 = []
d12 = []
d13 = []
d14 = []
d15 = []
for i in range(1,246):
  d11.append(d1[i])
for i in range(245,490):
  d12.append(d1[i])
for i in range(489,734):
  d13.append(d1[i])
for i in range(733,977):
  d14.append(d1[i])
for i in range(976,1221):
  d15.append(d1[i])

In [8]:
for i in range(len(d11)):
  d11[i] = float(d11[i])
for i in range(len(d12)):
  d12[i] = float(d12[i])
for i in range(len(d13)):
  d13[i] = float(d13[i])
for i in range(len(d14)):
  d14[i] = float(d14[i])
for i in range(len(d15)):
  d15[i] = float(d15[i])

In [9]:
d11r = []
d12r = []
d13r = []
d14r = []
d15r = []
for i in range(len(d11)-1):
  d11r.append(np.log(d11[i+1])-np.log(d11[i]))
for i in range(len(d12)-1):
  d12r.append(np.log(d12[i+1])-np.log(d12[i]))
for i in range(len(d13)-1):
  d13r.append(np.log(d13[i+1])-np.log(d13[i]))
for i in range(len(d14)-1):
  d14r.append(np.log(d14[i+1])-np.log(d14[i]))
for i in range(len(d15)-1):
  d15r.append(np.log(d15[i+1])-np.log(d15[i]))

In [10]:
d11a = np.sum(d11r)
d12a = np.sum(d12r)
d13a = np.sum(d13r)
d14a = np.sum(d14r)
d15a = np.sum(d15r)

In [11]:
d1a = d11a + d12a + d13a + d14a +d15a

In [12]:
d2 = d['000985.CSI']

In [13]:
d21 = []
d22 = []
d23 = []
d24 = []
d25 = []
for i in range(1,246):
  d21.append(d2[i])
for i in range(245,490):
  d22.append(d2[i])
for i in range(489,734):
  d23.append(d2[i])
for i in range(733,977):
  d24.append(d2[i])
for i in range(976,1221):
  d25.append(d2[i])

In [14]:
for i in range(len(d21)):
  d21[i] = float(d21[i])
for i in range(len(d22)):
  d22[i] = float(d22[i])
for i in range(len(d23)):
  d23[i] = float(d23[i])
for i in range(len(d24)):
  d24[i] = float(d24[i])
for i in range(len(d25)):
  d25[i] = float(d25[i])

In [15]:
d21r = []
d22r = []
d23r = []
d24r = []
d25r = []
for i in range(len(d21)-1):
  d21r.append(np.log(d21[i+1])-np.log(d21[i]))
for i in range(len(d22)-1):
  d22r.append(np.log(d22[i+1])-np.log(d22[i]))
for i in range(len(d23)-1):
  d23r.append(np.log(d23[i+1])-np.log(d23[i]))
for i in range(len(d24)-1):
  d24r.append(np.log(d24[i+1])-np.log(d24[i]))
for i in range(len(d25)-1):
  d25r.append(np.log(d25[i+1])-np.log(d25[i]))

In [16]:
d21a = np.sum(d21r)
d22a = np.sum(d22r)
d23a = np.sum(d23r)
d24a = np.sum(d24r)
d25a = np.sum(d25r)

In [17]:
d2a = d21a + d22a + d23a + d24a +d25a

In [18]:
d31a = d11a - d21a
d32a = d12a - d22a
d33a = d13a - d23a
d34a = d14a - d24a
d35a = d15a - d25a

In [19]:
d3a = d31a + d32a + d33a + d34a + d35a

In [20]:
d11v = np.sqrt(np.var(d11))
d12v = np.sqrt(np.var(d12))
d13v = np.sqrt(np.var(d13))
d14v = np.sqrt(np.var(d14))
d15v = np.sqrt(np.var(d15))

In [21]:
d16 = []
for i in range(1,1221):
  d16.append(d1[i])
for i in range(len(d16)):
  d16[i] = float(d16[i])
d16v = np.sqrt(np.var(d16))

In [22]:
d11v = d11v*np.sqrt(len(d11))
d12v = d12v*np.sqrt(len(d12))
d13v = d13v*np.sqrt(len(d13))
d14v = d14v*np.sqrt(len(d14))
d15v = d15v*np.sqrt(len(d15))
d16v = d16v*np.sqrt(len(d16))

In [23]:
d31 = []
d32 = []
d33 = []
d34 = []
d35 = []
for i in range(len(d11r)):
  d31.append(d11r[i] - d21r[i])
for i in range(len(d12r)):
  d32.append(d12r[i] - d22r[i])
for i in range(len(d13r)):
  d33.append(d13r[i] - d23r[i])
for i in range(len(d14r)):
  d34.append(d14r[i] - d24r[i])
for i in range(len(d15r)):
  d35.append(d15r[i] - d25r[i])

In [24]:
d31v = np.sqrt(np.var(d31))
d32v = np.sqrt(np.var(d32))
d33v = np.sqrt(np.var(d33))
d34v = np.sqrt(np.var(d34))
d35v = np.sqrt(np.var(d35))

In [26]:
d31v = d31v*np.sqrt(len(d11))
d32v = d32v*np.sqrt(len(d12))
d33v = d33v*np.sqrt(len(d13))
d34v = d34v*np.sqrt(len(d14))
d35v = d35v*np.sqrt(len(d15))

In [27]:
d36 = d31 + d32 + d33 + d34 + d35

In [28]:
d36v = np.sqrt(np.var(d36))
d36v = d36v*np.sqrt(len(d36))

In [40]:
d11m = np.max(d11)
d12m = np.max(d12)
d13m = np.max(d13)
d14m = np.max(d14)
d15m = np.max(d15)

In [47]:
d11d = (d11m - d11[-1])/d11m
d12d = (d12m - d12[-1])/d12m
d13d = (d13m - d13[-1])/d13m
d14d = (d14m - d14[-1])/d14m
d15d = (d15m - d15[-1])/d15m

In [53]:
d16d = (d11m - d15[-1])/d11m

In [83]:
d11s = d11a/d11v
d12s = d12a/d12v
d13s = d13a/d13v
d14s = d14a/d14v
d15s = d15a/d15v
d16s = d1a/d16v

In [100]:
d11r_ = []
for i in range(len(d11r)):
  if d11r[i] < 0:
    d11r_.append(d11r[i])
d11r1_ = []
for i in range(len(d11r_)):
  d11r1_.append(d11r_[i]**2)


d12r_ = []
for i in range(len(d12r)):
  if d12r[i] < 0:
    d12r_.append(d12r[i])
d12r1_ = []
for i in range(len(d12r_)):
  d12r1_.append(d12r_[i]**2)

d13r_ = []
for i in range(len(d13r)):
  if d13r[i] < 0:
    d13r_.append(d13r[i])
d13r1_ = []
for i in range(len(d13r_)):
  d13r1_.append(d13r_[i]**2)

d14r_ = []
for i in range(len(d14r)):
  if d14r[i] < 0:
    d14r_.append(d14r[i])
d14r1_ = []
for i in range(len(d14r_)):
  d14r1_.append(d14r_[i]**2)

d15r_ = []
for i in range(len(d15r)):
  if d15r[i] < 0:
    d15r_.append(d15r[i])
d15r1_ = []
for i in range(len(d15r_)):
  d15r1_.append(d15r_[i]**2)

In [101]:
d11sor = d11a/np.sqrt(np.sum(d11r1_)/(len(d11r1_)-1))
d12sor = d12a/np.sqrt(np.sum(d12r1_)/(len(d12r1_)-1))
d13sor = d13a/np.sqrt(np.sum(d13r1_)/(len(d13r1_)-1))
d14sor = d14a/np.sqrt(np.sum(d14r1_)/(len(d14r1_)-1))
d15sor = d15a/np.sqrt(np.sum(d15r1_)/(len(d15r1_)-1))

In [109]:
d16r1_ = d11r1_ + d12r1_ + d13r1_ + d14r1_ + d15r1_
d16sor = d1a/np.sqrt(np.sum(d16r1_)/(len(d16r1_)-1))

15.896352724763894